<center>
  <b>Input text to translate:</u><br />
  <form action='/translate' method='POST'>
    <input type='text' name='translate' placeholder='Type or paste text here'><br />
    <input type='submit' value='Submit'>
  </form><br/><br />
</center>
