<head>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">
<!--   	<form action='/translate' method='POST' id='usrform'> -->
  	  <textarea id='usrform' form='usrform' class='untranslated' placeholder='Type or paste text here'></textarea>
  	  <div class="buttonHolder">
	  	  <input type='submit' id='textsubmit' class='btn btn-lg btn-primary' value='Submit'>
	  </div>
  	<!-- </form> -->
  </div>
  <div class="col-xs-6">
  	<div class="translated">

  		<div id="translation">
  		</div>
  	</div>
  </div>
</div>
<script>
$(document).ready(function(){
    $('#textsubmit').click(function(e){
        $.ajax({
            url: "/", type: "POST",
            data: { usrform: $('#usrform').val() },
            success: function(result){
            	all = document.getElementsByTagName("textarea");
        	    for (var i = 0, max = all.length; i < max; i++) {
        	        if (all[i].style.fontFamily == "'Elian Script Rev 2.0'") {
        	            all[i].style.fontFamily = "'Arial'";
        	        } else {
        	            all[i].style.fontFamily = "'Elian Script Rev 2.0'";
        	        }
        	        // return result;
        	    };
              $('#translation').append('<h4>' + result + '</h4>');
            }
        });
    });
});
</script>