<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./compass-bootstrap/stylesheets/styles.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <style type="text/css">

    </style>
  </head>
  <body>
  <div class="container">

  <!-- HEADER AND NAVBAR -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header"><a href="#" class="navbar-brand">E L I A N</a></div>
    <ul class="nav navbar-nav">
      <li><a class="menu-1" href="#">Menu Item 1</a></li>
      <li><a class="menu-2" href="#">Menu Item 2</a></li>
    </ul>
  </nav>

  <!-- TWO COLUMN INFORMATION -->

  <%= yield %>


<!--   <div class="row text-center">
    <div class="col-sm-4">
      <div class="info-box">
        <span class="glyphicon glyphicon-fire"></span>
        <h2>INPUT TEXT HERE</h2>
        <p>wubwubwubwub</p>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="info-box">
        <span class="glyphicon glyphicon-send"></span>
        <h2>OUTPUTTED TRANSLATION HERE</h2>
        <p>BUWBUWBUWUBUWUBUWUBUWBUU</p>
      </div>
    </div>
  </div> -->

</div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
